body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Set a separate background for the NASA section */
#nasa-section {
  background-image: url('./nasabg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#nasa-section p, #nasa-section li {
  color: #ffffff;
}


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

img {
  max-width: 100%;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

/* Set text color to white for all text elements */
p, li {
  color: #ffffff;
}
