body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.api-section {
  background-image: url("./nasabg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding: 20px;
  position: relative;
}

.api-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

#nasa-section {
  background-image: url("./nasabg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#nasa-section p,
#nasa-section li {
  color: #ffffff;
}

.api-feature {
  text-align: center;
  margin: 20px 0;
}

.api-feature h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.api-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.api-image img {
  max-width: 100%;
  height: auto;
  border: 2px solid #0077b6;
  border-radius: 5px;
}

.api-description {
  text-align: left;
  margin-top: 10px;
  color: #ffffff;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.apodtitle {
  color: white;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  margin-top: 20px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

img {
  max-width: 100%;
  transition: transform 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.gallery img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

p,
li {
  color: #ffffff;
}

.neo-list {
  list-style: none;
  padding: 0;
}

.neo-item {
  background-color: black;
  border: 1px solid #ddd;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.neo-item h3 {
  font-size: 18px;
  margin: 0;
}

.neo-item p {
  font-size: 14px;
  margin: 5px 0;
}

.api-list {
  padding: 20px;
  text-align: center;
}

.api-list ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 0;
}

.api-list li {
  margin-bottom: 20px;
}

.api-list button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.api-list button:hover {
  background-color: #0056b3;
}

.api-info {
  padding: 20px;
}
