
.homepage {
  text-align: center;
  margin: 50px auto;
}

.card {
  position: absolute;
  width: 500px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}


.card .lines {
  position: absolute;
  inset: 0;
  background: #000;
  overflow: hidden;
}

.card .lines::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;  
  height: 120px;
  background: linear-gradient(transparent, #45f3ff,#45f3ff,#45f3ff,transparent);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0%{
    transform: translate(-50%,-50%) rotate(0deg);
  }
  100%{
    transform: translate(-50%,-50%) rotate(360deg);
  }
}

.card .lines::after{
  content: '';
  position: absolute;
  inset: 3px;
  background: #292929;


}


.card .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

}

.card .details {
    padding: 40px;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}


h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #000000;

}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;

}

p {
  font-size: 16px;
  color: #ffffff;
}

a {
  font-size: 16px;
  color: #ffffff;
  font-weight: bold;
  
}

@keyframes typing {
  from {
    width: 0;
  }
}

.typing-text {
  overflow: hidden;
  border-right: 0.15em solid #ffffff; /* Change color as needed */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 4s steps(30, end), blink-caret 0.5s step-end infinite;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #ffffff; /* Change color as needed */
  }
}


/* Add animation to show the letters one by one */
@keyframes fadeIn {
  0% {
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
  }
  100% {
    opacity: 1;
    font-weight: normal;
  }
}

/* Keep the letters invisible until the animation starts */
.animated-letter {
  opacity: 0;
  display: inline-block;
}

